<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="One_Media_Key.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <userSettings>
        <One_Media_Key.Properties.Settings>
            <setting name="AssignedKey" serializeAs="String">
                <value />
            </setting>
            <setting name="OpenMPlayerOnNotOp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SecondeAssignedKey" serializeAs="String">
                <value />
            </setting>
            <setting name="ThirdAssignedKey" serializeAs="String">
                <value />
            </setting>
        </One_Media_Key.Properties.Settings>
    </userSettings>
</configuration>